*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #d9fbf4;
	font-family: 'Nunito', sans-serif;
}

/* header */

#header-bar {
	display: flex;
	width: 60%;
	flex-flow: row wrap;
	margin: auto;
	justify-content: space-between;
	align-items: center;

}

#header-list {
	display: inline-flex;
	list-style-type: none;
	margin: auto 3px;
}

.header-buttons {
	font-size: 2em;
	border: solid 2px;
	border-radius: 50px;
	background-color: #6289a2;
	padding: 13px 15px;
	color: white;
	margin: 5px;
	cursor: pointer;

    box-shadow: 3px 5px 25px -7px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 5px 25px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 5px 25px -7px rgba(0,0,0,0.75);
}



#logo {
	height: 100%;
	font-size: 200%;
	text-decoration: none;
	display: inline-block;
	color: white;
	background-color: #6289a2;
	padding: 8px;
	border:  solid 2px;
	border-radius: 25px;
	align-self: flex-start;
	margin: 0 auto ;

	box-shadow: 3px 5px 25px -7px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 5px 25px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 5px 25px -7px rgba(0,0,0,0.75);
}

/* Score area */

#score-area {
	display: flex;
	font-size: 1.5em;	
	width: 60%;
	background-color: #d9fbf4;
	color: #6289a2;
	height: 10%;
	justify-content: center;
	align-self: center;
	margin: auto;
}

#score-area p {
	margin-bottom: 1px;
}

/* Game Board */

#game-area {
	width: 60vw;
	height: 95vh;
	display: flex;
	flex-wrap: wrap;
	color: #6289a2;
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;
}

/* Game cards */

.back i {
	display: none;

}

.back {
	border: solid 2px white;
	border-radius: 15px;
	background-color: #ffd261;
	cursor: grab;
	box-shadow: 3px 12px 20px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 12px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 12px 20px 0px rgba(0,0,0,0.75);
}

.card-frame {
	display: flex;
	font-size: 50px;
	height: 21%;
	width: 21%;

	margin: 3px;
	flex-grow: 21%;
	align-items: center;
	justify-content: center;
}

.card-frame i {
	vertical-align: middle;
}

/* footer */

#footer {
	display: flex;
	flex-flow: row wrap;
	height: 10vh;
	width: 60vw;
	background-color: #d9fbf4;
	margin: auto;
	align-items: center;
	justify-content: space-between;
	
}

#social-links ul {
	display: inline-flex;
	font-size: 150%;
	list-style-type: none;
	margin: auto;
	padding: 0;
}

.social-buttons {
	text-decoration: none;
	border: solid 1px;
	border-radius: 50px;
	padding: 3px 7px;
	color: white;
	background-color: #6289a2;
	margin: 5px;

	box-shadow: 3px 5px 25px -7px rgba(0,0,0,0.75);
	-webkit-box-shadow: 3px 5px 25px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 5px 25px -7px rgba(0,0,0,0.75);
}

#my-name {
	color: #6289a2;
    display: inline-flex;
	padding: 7px;
}


/* --------- Media queries */

@media all and (max-width: 600px) {
	#my-name {
		display: none;
	}

	#footer {
		justify-content: center;
	}
}

@media all and (max-width: 768px) {
	#header-bar {
		width: 100%;
	}
	
	#header-list {
		font-size: 100%;
	}

	.header-buttons {
		font-size: 1.5em;
	}
	
	#logo {
			font-size:  150%;
			margin: 5px;	
	}
	
	#score-area {
		width: 100%;
	}
	#game-area {
		width: 100vw;
		height: 80vh;
	}
	
	#footer {
		width: 100%;
		padding-top: 20px;
		padding-bottom: 5px;
	}
	
	#social-links ul {
		font-size: 100%;
	}

	}

/* Sticky buttons fix for phones and tablets, where button stays active after press. Removed hover effect for smaller screens. */

@media all and (min-width: 992px) {
	.social-buttons:hover {
		text-decoration: none;
		border-radius: 50px;
		padding: 3px 7px;
		color: #6289a2;
		background-color: white;
		margin: 5px;
	
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}

	.header-buttons:hover {
		border: solid 2px;
		border-radius: 50px;
		background-color: white;
		padding: 13px 15px;
		color: #6289a2;
		margin: 5px;
	
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}
}